body{
	background-color: #f3f3f3;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

.mylogo{
	height: 140px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;

}

#topGreen {
	clear:both;
	background-color: #01a2a6;
	height: 320px;
	margin: auto;
}

h1 {
	padding-top: 70px;
	color: #f3f3f3;
}
h3 {
	padding-top: 20px;
	color: #f3f3f3;
	display: block;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 400;
}
.SudokuMo a {
	color:  #2f343b;
	text-decoration: none;
}
.descrip a {
	color: #01a2a6;
	text-decoration: none;
}
.darkName{
	color: #2f343b;
}
#floatIcon{
	position: fixed;
	top: 330px;
	left: 90%;
	width: 40px;
}
#floatIcon img {
	padding-bottom: 5px;
}

.SudokuMo {
	padding-top: 30px;
	width: 100%;
	padding-left: 0px;
	margin: 0px;
	text-align: left;
	white-space:nowrap; 
	word-spacing:0;
}
table{
	border-collapse: collapse;
}
td {
	padding: 0px;
}

.SudokuMo td {
    text-align: left;
    vertical-align: center;
}
.halfmoon {
	width: 80px;
}
.projectTitle{
	width: 200px;
    color: #2f343b;
    font-size: 26px;
}
.mainTitle{
	font-size: 36px;
	font-weight: 700;
}
.projectImage{
	width: 950px;
	padding-left: 150px;
}
.descrip {
	clear:both;
	background-color: #2c343d;
	height: 200px;
	width: 100%;
	margin-top: -30px;
}
.descrip h3 {
    padding-top: 60px;
    color: #cdcccc;
}

.Textly {
	padding-top: 30px;
	width: 100%;
	padding-left: 0px;
	margin: 0px;
	text-align: left;
	white-space:nowrap; 
	word-spacing:0;
}
.TextlyImage {
	width: 950px;
	padding-left: 250px;
}


.projectTitleBrown{
	width: 200px;
    color: #534741;
    font-size: 26px;
}
.descripBrown {
	clear:both;
	background-color: #3c332e;
	height: 200px;
	width: 100%;
	margin-top: -30px;
}
.descripBrown h3 {
    padding-top: 60px;
    color: #cdcccc;
}
.TextlyImageAndroid {
	width: 950px;
	padding-left: 350px;
}
#TextlyImageSlider {
	width: 950px;
	padding-left: 250px;
}
.WebImage {
	width: 950px;
	padding-left: 150px;
}

.forwardButton{
	padding-bottom: 280px;
	padding-left: 50px;
}

.foot {
	clear:both;
	background-color: #f3f3f3;
	height: 400px;
	width: 100%;
	margin-top: -30px;
}
.foot p{
	color: gray;
}
.foot a{
	color: #1f2f3a;
	text-decoration: none;
}
.foot h6 {
	color: #2f343b;
}
@media only screen and (max-device-width: 480px) {
		body {
		width: 100%;
		margin: auto;
		font-size: 14px;
	        line-height: 1.5em;
		}

		header img {
		width: 50px;
		height: 50px;
		}
		.mylogo {
		height: 80px;
		padding-top: 40px;
		}

		div#topGreen {
		width: 100%;
		height: 260px;
		}
               h3 {
        	width: 480px;
               }
               #floatIcon{
	        float: left;
          	position: fixed;
	        top: 200px;
	        left: 5%;
	        width: 40px;
                }
                .projectTitle{
               font-size: 26px;
               text-align: center;
               }
               .mainTitle{
	       font-size: 36px;
	       font-weight: 700;
               }
		.halfmoon {
		display: none;
		}
		.projectImage{
  	        width: 100%;
	        padding-left: 0px;
                }
                .TextlyImage {
	        width: 100%;
	        padding-left: 60px;
                }
                #TextlyImageSlider {
	        width: 100%;
	        padding-left: 0px;
                }
                .WebImage {
           	 width: 100%;
	        margin-left: -20px;
                }
                .projectTitle {
	        display: none;
                }
                .projectTitleBrown {
	        display: none;
                }
                
	}
